lib
build
CMakeCache.txt
cmake_install.cmake
CMakeFiles
Makefile
opencv.zip
WorkBuddy
models/onnx/*
models/pre-trained/*
.env

# /python env files
/python/workbuddy
__pycache__
/python/Depth-Anything-V2/models/*