*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
debug
wandb
data
*.txt

simple-knn/dist
simple-knn/build
simple-knn/simple_knn.egg-info
